 /** inicio de sobrenosotros **/
  
 .sobrenosotros{
    margin: 30px;
    h2{
      border: solid black 2px;
      background-color: white;
      div{
        background: linear-gradient(green,white);
        border: solid black 2px;
        margin-top: 20px;
        padding: 20px;
      }
    }
  }
  
  .mainsobrenosotros{
    background: radial-gradient(white,grey);
  }
   
  
  .mapa{
    display: flex;
    border: black solid 5px;
    background: radial-gradient(white,green);
    padding: 20px;
    align-items: center;
    margin-bottom: 10px;
    h3{
      color: black;
    }
  }
  